<h1>Eat Da Burger!</h1>

<h2>Welcome to Good Burger, Home of the Good Burger, May I Take Your Order?!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger_name devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers You Have Eaten!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger_name devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Order A Burger</h2>
<h4>Enter a Burger You Want to Eat. Click the "Order Burger" Button.</h4>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Order Burger</button>
</form>
